:root {
  --grid-columns: 6;
  --grid-margin: 10px;
  --grid-gap: 6px;
}

@media (min-width: 768px) {
  :root {
    --grid-columns: 24;
    --grid-gap: 8px;
  }
}

body {
  margin: 0;
}

.grid {
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  max-width: 100%;
  margin: 0 10px;
}
